In [2]:
import psycopg2
import pandas as pd
import numpy as np
import seaborn as sns
import scipy
from scipy import stats
import matplotlib.pyplot as plt

In [3]:
conn = psycopg2.connect('dbname=soccer')
cur = conn.cursor()

query = '''
SELECT *
FROM Country
;'''

cur.execute(query)

In [4]:
countries_data = cur.fetchall()
countries_df = pd.DataFrame(countries_data)

countries_df.columns = [i[0] for i in cur.description]

In [5]:
countries_df

       id         name
0       1      Belgium
1    1729      England
2    4769       France
3    7809      Germany
4   10257        Italy
5   13274  Netherlands
6   15722       Poland
7   17642     Portugal
8   19694     Scotland
9   21518        Spain
10  24558  Switzerland

In [6]:
#Is there a statistical difference in the odds of 
#winning a game when a team is playing in front of their home crowd?

In [7]:
#type of test?
#likelihood of random noise?
#how confident are we?

In [8]:
conn = psycopg2.connect('dbname=soccer')
cur = conn.cursor()

query = '''
SELECT *
FROM League
;'''

cur.execute(query)

league_data = cur.fetchall()
league_df = pd.DataFrame(league_data)
league_df.columns = [i[0] for i in cur.description]
league_df.head()

      id  country_id                    name
0      1           1  Belgium Jupiler League
1   1729        1729  England Premier League
2   4769        4769          France Ligue 1
3   7809        7809   Germany 1. Bundesliga
4  10257       10257           Italy Serie A

In [9]:
conn = psycopg2.connect('dbname=soccer')
cur = conn.cursor()

query = '''
SELECT *
FROM Match
;'''

cur.execute(query)

match_data = cur.fetchall()
match_df = pd.DataFrame(match_data)
match_df.columns = [i[0] for i in cur.description]

In [10]:
match_df.shape

(25979, 115)

In [14]:
team_df.shape

(299, 5)

In [16]:
result.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,vcd,vca,gbh,gbd,gba,bsh,bsd,bsa,team_long_name,team_api_id
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,3.4,4.5,1.78,3.25,4,1.73,3.4,4.2,KRC Genk,9987
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.6,SV Zulte-Waregem,10000
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,3.25,2.65,2.5,3.2,2.5,2.3,3.2,2.75,KSV Cercle Brugge,9984
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,3.75,6.5,1.5,3.75,5.5,1.44,3.75,6.5,KAA Gent,9991
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,3.4,1.65,4.5,3.5,1.65,4.75,3.3,1.67,FCV Dender EH,7947

In [18]:
result.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,vch,vcd,vca,gbh,gbd,gba,bsh,bsd,bsa,home_team_name
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,1.65,3.4,4.5,1.78,3.25,4,1.73,3.4,4.2,KRC Genk
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,2,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.6,SV Zulte-Waregem
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.35,3.25,2.65,2.5,3.2,2.5,2.3,3.2,2.75,KSV Cercle Brugge
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,1.45,3.75,6.5,1.5,3.75,5.5,1.44,3.75,6.5,KAA Gent
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,4.5,3.4,1.65,4.5,3.5,1.65,4.75,3.3,1.67,FCV Dender EH

In [20]:
results.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,vca,gbh,gbd,gba,bsh,bsd,bsa,home_team_name,team_long_name,team_api_id
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.5,1.78,3.25,4,1.73,3.4,4.2,KRC Genk,Beerschot AC,9993
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.25,1.85,3.25,3.75,1.91,3.25,3.6,SV Zulte-Waregem,Sporting Lokeren,9994
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.65,2.5,3.2,2.5,2.3,3.2,2.75,KSV Cercle Brugge,RSC Anderlecht,8635
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,6.5,1.5,3.75,5.5,1.44,3.75,6.5,KAA Gent,RAEC Mons,9998
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,1.65,4.5,3.5,1.65,4.75,3.3,1.67,FCV Dender EH,Standard de Liège,9985

In [21]:
results.rename(columns={"team_long_name": "away_team_name"}, inplace=True)

results = results.drop(columns='team_api_id')

In [22]:
results.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,vcd,vca,gbh,gbd,gba,bsh,bsd,bsa,home_team_name,away_team_name
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,3.4,4.5,1.78,3.25,4,1.73,3.4,4.2,KRC Genk,Beerschot AC
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.6,SV Zulte-Waregem,Sporting Lokeren
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,3.25,2.65,2.5,3.2,2.5,2.3,3.2,2.75,KSV Cercle Brugge,RSC Anderlecht
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,3.75,6.5,1.5,3.75,5.5,1.44,3.75,6.5,KAA Gent,RAEC Mons
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,3.4,1.65,4.5,3.5,1.65,4.75,3.3,1.67,FCV Dender EH,Standard de Liège

In [23]:
conn = psycopg2.connect('dbname=soccer')
cur = conn.cursor()

query = '''
SELECT *
FROM Player_Attributes
;'''

cur.execute(query)

player_attrib_data = cur.fetchall()
player_attrib_df = pd.DataFrame(player_attrib_data)
player_attrib_df.columns = [i[0] for i in cur.description]
player_attrib_df.head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [24]:
conn = psycopg2.connect('dbname=soccer')
cur = conn.cursor()

query = '''
SELECT *
FROM Team_Attributes
;'''

cur.execute(query)

team_attrib_data = cur.fetchall()
team_attrib_df = pd.DataFrame(team_attrib_data)
team_attrib_df.columns = [i[0] for i in cur.description]
team_attrib_df.head()

,id,team_fifa_api_id,team_api_id,date,buildupplayspeed,buildupplayspeedclass,buildupplaydribbling,buildupplaydribblingclass,buildupplaypassing,buildupplaypassingclass,...,chancecreationshooting,chancecreationshootingclass,chancecreationpositioningclass,defencepressure,defencepressureclass,defenceaggression,defenceaggressionclass,defenceteamwidth,defenceteamwidthclass,defencedefenderlineclass
0,1,434,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,50,Mixed,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,2,434,9930,2014-09-19 00:00:00,52,Balanced,48.0,Normal,56,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,3,434,9930,2015-09-10 00:00:00,47,Balanced,41.0,Normal,54,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,4,77,8485,2010-02-22 00:00:00,70,Fast,NaN,Little,70,Long,...,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,5,77,8485,2011-02-22 00:00:00,47,Balanced,NaN,Little,52,Mixed,...,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover

In [25]:
player_df = pd.read_csv('player.csv')
player_df.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

### HYPOTHESIS TEST 1:
##### Is there a statistical difference in the odds of winning a game when a team is playing in front of their home crowd?

- H0 (Null Hypothesis): The odds of winning at home and away are the same (mean 1 = mean 2)
- HA (Alternative Hypothesis): The odds of winning at home and away are different (mean1 != mean 2)

- Alpha = 0.05

##### Assumptions:
- Data is collected randomly
- Data is independent
- Data is approximately normally distributed

/Users/krex/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [27]:
match_df.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,gbh,gbd,gba,bsh,bsd,bsa,home_team_name,away_team_name,home_team_win,away_team_win
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,1.78,3.25,4,1.73,3.4,4.2,KRC Genk,Beerschot AC,0,0
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,1.85,3.25,3.75,1.91,3.25,3.6,SV Zulte-Waregem,Sporting Lokeren,0,0
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.5,3.2,2.5,2.3,3.2,2.75,KSV Cercle Brugge,RSC Anderlecht,0,1
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,1.5,3.75,5.5,1.44,3.75,6.5,KAA Gent,RAEC Mons,1,0
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,4.5,3.5,1.65,4.75,3.3,1.67,FCV Dender EH,Standard de Liège,0,1

In [32]:
match_df['away_team_win'].loc[match_df['home_team_goal'] > match_df['away_team_goal']] = 0
match_df['away_team_win'].loc[match_df['home_team_goal'] == match_df['away_team_goal']] = 0

In [36]:
def two_proprotions_test(success_a, size_a, success_b, size_b):
    """
    A/B test for two proportions;
    given a success a trial size of group A and B compute
    its zscore and pvalue
    
    Parameters
    ----------
    success_a, success_b : int
        Number of successes in each group
        
    size_a, size_b : int
        Size, or number of observations in each group
    
    Returns
    -------
    zscore : float
        test statistic for the two proportion z-test

    pvalue : float
        p-value for the two proportion z-test
    """
    prop_a = success_a / size_a
    prop_b = success_b / size_b
    prop_pooled = (success_a + success_b) / (size_a + size_b)
    var = prop_pooled * (1 - prop_pooled) * (1 / size_a + 1 / size_b)
    zscore = np.abs(prop_b - prop_a) / np.sqrt(var)
    one_side = 1 - stats.norm(loc = 0, scale = 1).cdf(zscore)
    pvalue = one_side * 2
    return zscore, pvalue

In [37]:
success_home_wins = len(match_goals_wins.loc[match_goals_wins['home_team_win'] == 1])
size_home_wins = len(match_goals_wins)
success_away_wins = len(match_goals_wins.loc[match_goals_wins['away_team_win'] == 1])
size_away_wins = len(match_goals_wins)

zscore, pvalue = two_proprotions_test(success_home_wins, size_home_wins, success_away_wins, size_away_wins)
print('zscore = {:.3f}, pvalue = {:.3f}'.format(zscore, pvalue))

NameError: name 'match_goals_wins' is not defined

In [38]:
match_dff = match_df.dropna()

In [ ]:
home_team_win_array = np.array(match_df['home_team_win'])

sample_means_home = []
for _ in range(1000):
    sample_mean = np.random.choice(home_team_win_array, size=1000).mean()
    sample_means_home.append(sample_mean)
    
home_wins = np.mean(home_team_win_array)*1000
home_wins

In [ ]:
away_team_win_array = np.array(match_df['away_team_win'])

sample_means_away = []
for _ in range(1000):
    sample_mean = np.random.choice(away_team_win_array, size=1000).mean()
    sample_means_away.append(sample_mean)
    
away_wins = np.mean(away_team_win_array)*1000
away_wins

In [ ]:
# z-score = [p(home) - p(away)] / sigma(p_win - p_away)
p_e =(home_wins + away_wins )/2000
p_e_minus_1 = 1- p_e

In [ ]:
(home_wins/1000 + away_wins / 1000)/np.sqrt(((p_e*p_e_minus_1)/1000)+(p_e*p_e_minus_1)/1000)

In [ ]:
def confidence_intervals(data, confidence_level=0.95): 
    
    low_end = (1 - confidence_level) / 2
    high_end = 1 - low_end
    bottom_percentile = np.round(data.means.quantile(low_end), 2)
    top_percentile = np.round(data.means.quantile(high_end), 2)
 
    print('The {}% confidence interval is [{}, {}]'.format(
        confidence_level * 100, bottom_percentile, top_percentile))

In [ ]:
confidence_intervals(sample_means,confidence_level=.95)

In [ ]:


mu = np.mean(home_team_win_array)
x_bar = np.mean(sample_means)
sigma = np.std(sample_means,ddof=1)
n = len(sample_means)
df = n-1
diff = x_bar - mu

print(mu, x_bar, sigma, n, df, diff)

In [ ]:
#plot the sample dist
sns.set(color_codes=True)
sns.set(rc={'figure.figsize':(12,10)})

sns.distplot(sample_means)

In [ ]:
t = (x_bar - mu) / (sigma/(np.sqrt(n)))
t

In [ ]:
alpha=0.05

t_crit = scipy.stats.t.ppf(1-alpha, df)
t_crit

In [ ]:
# generate points on the x axis between -5 and 5:
xs = np.linspace(-5, 5, 200)
# use stats.t.pdf to get values on the probability density function for the t-distribution
# the second argument is the degrees of freedom
ys = scipy.stats.t.pdf(xs,df,0,1)
# initialize a matplotlib "figure"
fig = plt.figure(figsize=(8,5))

# get the current "axis" out of the figure
ax = fig.gca()

# plot the lines using matplotlib's plot function:
ax.plot(xs, ys, linewidth=3, color='darkblue')

# plot a vertical line for our measured difference in rates t-statistic
ax.axvline(t, color='red', linestyle='--', lw=5)
plt.show()

## Conclusion:
### We fail to reject the null hypothesis and with 95% confidence state that there is no statistical difference in the odds of winning a game when a team is at playing at home

 ## HYPOTHESIS TEST 2

- $H_0$ : THERE IS NO DIFFERENCE IN WIN RATE BETWEEN 442 and 433

 
- $H_A$ : THERE IS A STAT DIFF IN WIN RATE

In [76]:
conn = psycopg2.connect('dbname=soccer')
cur = conn.cursor()

query = '''
SELECT *
FROM Match
;'''

cur.execute(query)

match_data = cur.fetchall()
match_df = pd.DataFrame(match_data)
match_df.columns = [i[0] for i in cur.description]
match_df.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,sja,vch,vcd,vca,gbh,gbd,gba,bsh,bsd,bsa
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4,1.65,3.4,4.5,1.78,3.25,4,1.73,3.4,4.2
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.8,2,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.6
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.5,2.35,3.25,2.65,2.5,3.2,2.5,2.3,3.2,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,7.5,1.45,3.75,6.5,1.5,3.75,5.5,1.44,3.75,6.5
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,1.73,4.5,3.4,1.65,4.5,3.5,1.65,4.75,3.3,1.67

In [77]:
conn = psycopg2.connect('dbname=soccer')
cur = conn.cursor()

query = '''
SELECT *
FROM Team
;'''

cur.execute(query)

team_data = cur.fetchall()
team_df = pd.DataFrame(team_data)
team_df.columns = [i[0] for i in cur.description]
team_df.head()

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB

In [78]:
#create new column home_team_win with binary values - Home team winning = 1, Away team winning = 0
match_df['home_team_win'] = np.zeros

match_df['home_team_win'].loc[match_df['home_team_goal'] > match_df['away_team_goal']] = 1
match_df['home_team_win'].loc[match_df['home_team_goal'] < match_df['away_team_goal']] = 0
match_df['home_team_win'].loc[match_df['home_team_goal'] == match_df['away_team_goal']] = 0

match_df['away_team_win'] = np.zeros

match_df['away_team_win'].loc[match_df['home_team_goal'] < match_df['away_team_goal']] = 1
match_df['away_team_win'].loc[match_df['home_team_goal'] > match_df['away_team_goal']] = 0
match_df['away_team_win'].loc[match_df['home_team_goal'] == match_df['away_team_goal']] = 0

In [79]:
match_df.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,vcd,vca,gbh,gbd,gba,bsh,bsd,bsa,home_team_win,away_team_win
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,3.4,4.5,1.78,3.25,4,1.73,3.4,4.2,0,0
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.6,0,0
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,3.25,2.65,2.5,3.2,2.5,2.3,3.2,2.75,0,1
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,3.75,6.5,1.5,3.75,5.5,1.44,3.75,6.5,1,0
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,3.4,1.65,4.5,3.5,1.65,4.75,3.3,1.67,0,1

In [80]:
match_df['winning_team'] = np.nan

match_df.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,vca,gbh,gbd,gba,bsh,bsd,bsa,home_team_win,away_team_win,winning_team
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.5,1.78,3.25,4,1.73,3.4,4.2,0,0,NaN
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.25,1.85,3.25,3.75,1.91,3.25,3.6,0,0,NaN
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.65,2.5,3.2,2.5,2.3,3.2,2.75,0,1,NaN
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,6.5,1.5,3.75,5.5,1.44,3.75,6.5,1,0,NaN
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,1.65,4.5,3.5,1.65,4.75,3.3,1.67,0,1,NaN

In [82]:
result = pd.merge(match_df,
                  team_df[['team_long_name','team_api_id']],
                  left_on='home_team_api_id',
                  right_on='team_api_id',
                  how='left')
result.rename(columns={"team_long_name": "home_team_name"}, inplace=True)

result = result.drop(columns='team_api_id')

results = pd.merge(result,
                  team_df[['team_long_name','team_api_id']],
                  left_on='away_team_api_id',
                  right_on='team_api_id',
                  how='left')

results.rename(columns={"team_long_name": "away_team_name"}, inplace=True)

results = results.drop(columns='team_api_id')

In [84]:
results.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,gbd,gba,bsh,bsd,bsa,home_team_win,away_team_win,winning_team,home_team_name,away_team_name
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,3.25,4,1.73,3.4,4.2,0,0,NaN,KRC Genk,Beerschot AC
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.25,3.75,1.91,3.25,3.6,0,0,NaN,SV Zulte-Waregem,Sporting Lokeren
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,3.2,2.5,2.3,3.2,2.75,0,1,NaN,KSV Cercle Brugge,RSC Anderlecht
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,3.75,5.5,1.44,3.75,6.5,1,0,NaN,KAA Gent,RAEC Mons
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,3.5,1.65,4.75,3.3,1.67,0,1,NaN,FCV Dender EH,Standard de Liège

In [85]:
match_df = results

In [86]:
match_df['winning_team'].loc[match_df['home_team_goal'] > match_df['away_team_goal']] = match_df['home_team_name']

match_df['winning_team'].loc[match_df['home_team_goal'] < match_df['away_team_goal']] = match_df['away_team_name']

In [87]:
match_df.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,gbd,gba,bsh,bsd,bsa,home_team_win,away_team_win,winning_team,home_team_name,away_team_name
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,3.25,4,1.73,3.4,4.2,0,0,NaN,KRC Genk,Beerschot AC
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.25,3.75,1.91,3.25,3.6,0,0,NaN,SV Zulte-Waregem,Sporting Lokeren
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,3.2,2.5,2.3,3.2,2.75,0,1,RSC Anderlecht,KSV Cercle Brugge,RSC Anderlecht
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,3.75,5.5,1.44,3.75,6.5,1,0,KAA Gent,KAA Gent,RAEC Mons
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,3.5,1.65,4.75,3.3,1.67,0,1,Standard de Liège,FCV Dender EH,Standard de Liège

In [88]:
home_team_win_df = match_df.groupby("home_team_name").agg({
        "home_team_win": "mean",
    })

home_team_win_df.sort_values(by= 'home_team_win',ascending=False)

                          home_team_win
home_team_name
FC Barcelona                   0.861842
Real Madrid CF                 0.848684
SL Benfica                     0.822581
FC Porto                       0.822581
FC Bayern Munich               0.801471
Celtic                         0.789474
PSV                            0.772059
Manchester United              0.763158
Ajax                           0.757353
RSC Anderlecht                 0.745283
Manchester City                0.743421
Rangers                        0.736842
FC Basel                       0.720280
Club Brugge KV                 0.707547
Juventus                       0.695364
Atlético Madrid                0.677632
Legia Warszawa                 0.675000
Paris Saint-Germain            0.671053
Chelsea                        0.664474
SC Braga                       0.653226
Borussia Dortmund              0.647059
Roma                           0.642384
Arsenal                        0.638158
Sporting CP                    0.637097
Napoli                         0.633333
Feyenoord                      0.632353
FC Twente                      0.625000
Standard de Liège              0.622642
Lech Poznań                    0.616667
LOSC Lille                     0.611842
...                                 ...
Lierse SK                      0.238095
Livorno                        0.236842
Falkirk                        0.236842
Lecce                          0.236364
1. FC Kaiserslautern           0.235294
FC St. Pauli                   0.235294
SC Paderborn 07                0.235294
Novara                         0.222222
Cesena                         0.218182
US Boulogne Cote D'Opale       0.210526
Reading                        0.210526
Pescara                        0.210526
RC Recreativo                  0.210526
Le Havre AC                    0.210526
VfL Bochum                     0.205882
Trofense                       0.200000
Feirense                       0.200000
KAS Eupen                      0.200000
FC Vaduz                       0.185185
ES Troyes AC                   0.184211
FC Penafiel                    0.176471
FC Dordrecht                   0.176471
Tondela                        0.176471
Reggio Calabria                0.157895
SV Darmstadt 98                0.117647
DSC Arminia Bielefeld          0.117647
AC Arles-Avignon               0.105263
Dunfermline Athletic           0.052632
Córdoba CF                     0.052632
SpVgg Greuther Fürth           0.000000

[296 rows x 1 columns]

In [89]:
away_team_win_df = match_df.groupby("away_team_name").agg({
        "away_team_win": "mean",
    })

away_team_win_df.sort_values(by= 'away_team_win',ascending=False)

                         away_team_win
away_team_name
Rangers                       0.684211
FC Barcelona                  0.677632
SL Benfica                    0.669355
FC Porto                      0.653226
Real Madrid CF                0.651316
Celtic                        0.644737
FC Bayern Munich              0.617647
Ajax                          0.573529
Juventus                      0.560000
FC Basel                      0.538462
RSC Anderlecht                0.537736
PSV                           0.536765
Sporting CP                   0.524194
Borussia Dortmund             0.507353
Manchester United             0.500000
Chelsea                       0.493421
Paris Saint-Germain           0.480263
Arsenal                       0.480263
Legia Warszawa                0.466667
Club Brugge KV                0.452830
Bayer 04 Leverkusen           0.448529
FC Twente                     0.433824
Roma                          0.427632
AZ                            0.426471
KAA Gent                      0.422018
Atlético Madrid               0.421053
Liverpool                     0.421053
Inter                         0.421053
Lech Poznań                   0.416667
Olympique de Marseille        0.414474
...                                ...
Lierse SK                     0.111111
Frosinone                     0.105263
Cardiff City                  0.105263
Portsmouth                    0.105263
Burnley                       0.105263
AC Ajaccio                    0.105263
Pescara                       0.105263
Reading                       0.105263
ES Troyes AC                  0.105263
Xerez Club Deportivo          0.105263
Hércules Club de Fútbol       0.105263
Livorno                       0.105263
Middlesbrough                 0.105263
Córdoba CF                    0.105263
Catania                       0.090090
Arka Gdynia                   0.088889
VVV-Venlo                     0.088235
Sparta Rotterdam              0.088235
SC Cambuur                    0.078431
Amadora                       0.066667
Eintracht Braunschweig        0.058824
Uniao da Madeira              0.058824
FC Dordrecht                  0.058824
FC Volendam                   0.058824
Tubize                        0.058824
CD Tenerife                   0.052632
AC Arles-Avignon              0.052632
CD Numancia                   0.052632
Brescia                       0.052632
FC Metz                       0.052632

[296 rows x 1 columns]

In [96]:
match_df.columns

Index(['id', 'country_id', 'league_id', 'season', 'stage', 'date',
       'match_api_id', 'home_team_api_id', 'away_team_api_id',
       'home_team_goal',
       ...
       'gbd', 'gba', 'bsh', 'bsd', 'bsa', 'home_team_win', 'away_team_win',
       'winning_team', 'home_team_name', 'away_team_name'],
      dtype='object', length=120)

In [97]:
#loads info in the match_df, below is code to grab the columns of interest

h2_df = match_df[['match_api_id','home_team_goal','away_team_goal','home_player_y1','home_player_y2',
                        'home_player_y3','home_player_y4','home_player_y5','home_player_y6','home_player_y7',
                        'home_player_y8','home_player_y9','home_player_y10','home_player_y11','away_player_y1',
                        'away_player_y2','away_player_y3','away_player_y4','away_player_y5','away_player_y6',
                        'away_player_y7','away_player_y8','away_player_y9','away_player_y10','away_player_y11',
                        'home_team_win','winning_team', 'home_team_name', 'away_team_name']].copy()

h2_df

,match_api_id,home_team_goal,away_team_goal,home_player_y1,home_player_y2,home_player_y3,home_player_y4,home_player_y5,home_player_y6,home_player_y7,...,away_player_y6,away_player_y7,away_player_y8,away_player_y9,away_player_y10,away_player_y11,home_team_win,winning_team,home_team_name,away_team_name
0,492473,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,KRC Genk,Beerschot AC
1,492474,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,SV Zulte-Waregem,Sporting Lokeren
2,492475,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,RSC Anderlecht,KSV Cercle Brugge,RSC Anderlecht
3,492476,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,KAA Gent,KAA Gent,RAEC Mons
4,492477,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Standard de Liège,FCV Dender EH,Standard de Liège
5,492478,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,KV Mechelen,Club Brugge KV
6,492479,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,KSV Roeselare,KV Kortrijk
7,492480,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Royal Excel Mouscron,Tubize,Royal Excel Mouscron
8,492481,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,KVC Westerlo,KVC Westerlo,Sporting Charleroi
9,492564,4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,Club Brugge KV,Club Brugge KV,KV Kortrijk
10,492565,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Sporting Charleroi,Standard de Liège,Sporting Charleroi
11,492566,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,KAA Gent,SV Zulte-Waregem,KAA Gent
12,492567,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,Sporting Lokeren,RAEC Mons
13,492568,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,FCV Dender EH,KVC Westerlo
14,492569,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,KSV Roeselare,KV Mechelen,KSV Roeselare
15,492570,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,KSV Cercle Brugge,Royal Excel Mouscron,KSV Cercle Brugge
16,492571,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,KRC Genk,Tubize,KRC Genk
17,492572,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,RSC Anderlecht,Beerschot AC,RSC Anderlecht
18,492573,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Sporting Lokeren,RSC Anderlecht,Sporting Lokeren
19,492574,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,RAEC Mons,Royal Excel Mouscron
20,492575,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,Sporting Charleroi,Club Brugge KV
21,492576,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,KSV Cercle Brugge,KSV Cercle Brugge,SV Zulte-Waregem
22,492577,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,KAA Gent,FCV Dender EH
23,492578,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Tubize,KSV Roeselare,Tubize
24,492579,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,KV Kortrijk,KV Mechelen
25,492580,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,KVC Westerlo,KVC Westerlo,KRC Genk
26,492581,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,Standard de Liège,Beerschot AC,Standard de Liège
27,492582,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,Club Brugge KV,RSC Anderlecht
28,492583,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,KRC Genk,KSV Roeselare
29,492584,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,SV Zulte-Waregem,Beerschot AC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25949,1992222,2,2,1.0,3.0,3.0,3.0,3.0,6.0,6.0,...,7.0,7.0,7.0,9.0,9.0,11.0,0,NaN,FC Sion,FC Zürich
25950,1992227,2,2,1.0,3.0,3.0,3.0,3.0,6.0,6.0,...,7.0,7.0,7.0,7.0,10.0,10.0,0,NaN,FC Luzern,FC Sion
25951,1992223,0,0,1.0,3.0,3.0,3.0,3.0,6.0,7.0,...,6.0,8.0,8.0,10.0,10.0,10.0,0,NaN,FC Vaduz,Lugano
25952,1992224,2,3,1.0,3.0,3.0,3.0,3.0,7.0,7.0,...,6.0,6.0,8.0,8.0,8.0,11.0,0,FC Basel,BSC Young Boys,FC Basel
25953,1992234,1,4,1.0,3.0,3.0,3.0,3.0,6.0,8.0,...,7.0,7.0,7.0,7.0,10.0,10.0,0,FC Luzern,FC St. Gallen,FC Luzern
25954,1992225,0,1,1.0,3.0,3.0,3.0,3.0,6.0,6.0,...,6.0,6.0,8.0,8.0,8.0,11.0,0,Grasshopper Club Zürich,FC Basel,Grasshopper Club Zürich
25955,1992226,3,0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,...,6.0,8.0,8.0,8.0,8.0,11.0,1,Lugano,Lugano,FC St. Gallen
25956,1992228,0,3,1.0,3.0,3.0,3.0,3.0,7.0,7.0,...,7.0,7.0,7.0,7.0,10.0,10.0,0,BSC Young Boys,FC Thun,BSC Young Boys
25957,1992229,3,1,1.0,3.0,3.0,3.0,7.0,7.0,7.0,...,7.0,7.0,7.0,9.0,11.0,11.0,1,FC Zürich,FC Zürich,FC Vaduz
25958,1992066,6,1,1.0,3.0,3.0,3.0,3.0,6.0,6.0,...,7.0,7.0,7.0,10.0,10.0,10.0,1,Grasshopper Club Zürich,Grasshopper Club Zürich,Lugano
25959,1992067,1,3,1.0,3.0,3.0,3.0,3.0,7.0,7.0,...,6.0,6.0,8.0,8.0,8.0,11.0,0,FC Basel,FC Luzern,FC Basel
25960,1992068,0,2,1.0,3.0,3.0,3.0,3.0,7.0,7.0,...,6.0,6.0,8.0,8.0,8.0,11.0,0,FC Zürich,FC St. Gallen,FC Zürich
25961,1992069,1,1,1.0,3.0,3.0,3.0,3.0,6.0,8.0,...,6.0,6.0,8.0,8.0,8.0,11.0,0,NaN,FC Vaduz,FC Sion
25962,1992070,3,1,1.0,3.0,3.0,3.0,3.0,6.0,6.0,...,6.0,8.0,8.0,8.0,8.0,11.0,1,BSC Young Boys,BSC Young Boys,FC Thun
25963,1992071,3,1,1.0,3.0,3.0,3.0,3.0,6.0,6.0,...,6.0,8.0,8.0,8.0,8.0,11.0,1,FC Basel,FC Basel,FC Thun
25964,1992072,0,1,1.0,3.0,3.0,3.0,3.0,6.0,8.0,...,6.0,8.0,8.0,10.0,10.0,10.0,0,Lugano,BSC Young Boys,Lugano
25965,1992082,1,0,1.0,3.0,3.0,3.0,3.0,6.0,8.0,...,7.0,7.0,7.0,7.0,10.0,10.0,1,FC Vaduz,FC Vaduz,FC St. Gallen
25966,1992083,0,2,1.0,3.0,3.0,3.0,3.0,6.0,8.0,...,6.0,6.0,8.0,8.0,8.0,11.0,0,FC Sion,FC Thun,FC Sion
25967,1992084,3,1,1.0,3.0,3.0,3.0,3.0,6.0,6.0,...,7.0,7.0,7.0,7.0,10.0,10.0,1,FC Basel,FC Basel,FC Zürich
25968,1992085,3,2,1.0,3.0,3.0,3.0,3.0,6.0,6.0,...,6.0,6.0,8.0,8.0,8.0,11.0,1,Grasshopper Club Zürich,Grasshopper Club Zürich,BSC Young Boys
25969,1992086,2,1,1.0,3.0,3.0,3.0,3.0,6.0,6.0,...,6.0,8.0,8.0,8.0,8.0,11.0,1,FC Basel,FC Basel,FC St. Gallen
25970,1992087,4,0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,...,7.0,7.0,7.0,10.0,10.0,10.0,1,BSC Young Boys,BSC Young Boys,FC Vaduz
25971,1992088,3,3,1.0,3.0,3.0,3.0,3.0,6.0,7.0,...,6.0,6.0,8.0,8.0,8.0,11.0,0,NaN,FC Luzern,Grasshopper Club Zürich
25972,1992089,3,3,1.0,3.0,3.0,3.0,3.0,7.0,7.0,...,6.0,6.0,8.0,8.0,8.0,11.0,0,NaN,FC Zürich,FC Thun
25973,1992090,3,0,1.0,3.0,3.0,3.0,3.0,6.0,6.0,...,6.0,8.0,8.0,10.0,10.0,10.0,1,FC Sion,FC Sion,Lugano
25974,1992091,1,0,1.0,3.0,3.0,3.0,3.0,6.0,6.0,...,6.0,6.0,8.0,8.0,8.0,11.0,1,FC St. Gallen,FC St. Gallen,FC Thun
25975,1992092,1,2,1.0,3.0,3.0,3.0,7.0,7.0,7.0,...,7.0,7.0,7.0,10.0,10.0,10.0,0,FC Luzern,FC Vaduz,FC Luzern
25976,1992093,2,0,1.0,3.0,3.0,3.0,3.0,6.0,6.0,...,6.0,6.0,8.0,8.0,8.0,11.0,1,Grasshopper Club Zürich,Grasshopper Club Zürich,FC Sion
25977,1992094,0,0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,...,6.0,6.0,8.0,8.0,8.0,11.0,0,NaN,Lugano,FC Zürich
25978,1992095,4,3,1.0,3.0,3.0,3.0,3.0,7.0,7.0,...,6.0,6.0,8.0,8.0,8.0,11.0,1,BSC Young Boys,BSC Young Boys,FC Basel

In [98]:
from collections import Counter

In [103]:
def OnlyNum(s,oth=''):   
    nums = '0123456789'   
    for c in s:   
        if (c in nums) == False:   
             s = s.replace(c,'');   
    return s
#change the format of formation form str, this is for parse formation, only numbers show

In [104]:
home_formation = {}
away_formation = {}
#create two dict to store home team formation and away team formation, key is match_api_id, value is formation like '442'

In [105]:
#every row is a match, take out formation according to Y coordinates
for index,row in h2_df.iterrows():
    home_player_y = list()
    away_player_y = list()
    #create two list to store Y coordinate for each team,and they should be empty when we start parse a new match
    
    for i in range(2,12):
        home_player_y.append(row['home_player_y%d' % i])
        away_player_y.append(row['away_player_y%d' % i])
    #put two teams's Y coordinates into list    
    
    c_home = Counter(home_player_y)
    c_away = Counter(away_player_y)
    #transform list to Counter objects
    formation_home = Counter(sorted(c_home.elements())).values()
    #sorted,for exsample: Y coordinate may be record wrong, like "5,5,3,3,3,3,5,7,7,10",
    #the correct formation should be 4321,
    #but if we don't serted it, we will get 3421
    formation_home = OnlyNum(str(formation_home))
    #get only number, like '442', but it is still a string.
    formation_away = Counter(sorted(c_away.elements())).values()
    formation_away = OnlyNum(str(formation_away))
    
    home_formation.update({row['match_api_id'] : formation_home})
    away_formation.update({row['match_api_id'] : formation_away})
    #update match id and formation to dict

In [106]:
home_formation

{492473: '1111111111',
 492474: '1111111111',
 492475: '1111111111',
 492476: '1111111111',
 492477: '1111111111',
 492478: '1111111111',
 492479: '1111111111',
 492480: '1111111111',
 492481: '1111111111',
 492564: '1111111111',
 492565: '1111111111',
 492566: '1111111111',
 492567: '1111111111',
 492568: '1111111111',
 492569: '1111111111',
 492570: '1111111111',
 492571: '1111111111',
 492572: '1111111111',
 492573: '1111111111',
 492574: '1111111111',
 492575: '1111111111',
 492576: '1111111111',
 492577: '1111111111',
 492578: '1111111111',
 492579: '1111111111',
 492580: '1111111111',
 492581: '1111111111',
 492582: '1111111111',
 492583: '1111111111',
 492584: '1111111111',
 492585: '1111111111',
 492586: '1111111111',
 492587: '1111111111',
 492588: '1111111111',
 492589: '1111111111',
 492590: '1111111111',
 492591: '1111111111',
 492592: '1111111111',
 492622: '1111111111',
 492623: '1111111111',
 492624: '1111111111',
 492628: '1111111111',
 492631: '1111111111',
 492636: '1111111111',
 492638: '1111111111',
 492649: '1111111111',
 492856: '1111111111',
 492651: '1111111111',
 492658: '1111111111',
 492662: '1111111111',
 492664: '1111111111',
 492666: '1111111111',
 492670: '1111111111',
 492674: '1111111111',
 492677: '1111111111',
 492683: '1111111111',
 492686: '1111111111',
 492689: '1111111111',
 492692: '1111111111',
 492693: '1111111111',
 492696: '1111111111',
 492699: '1111111111',
 492702: '1111111111',
 492706: '1111111111',
 492709: '1111111111',
 492713: '1111111111',
 492717: '1111111111',
 492720: '1111111111',
 492722: '1111111111',
 492724: '1111111111',
 492728: '1111111111',
 492734: '1111111111',
 492735: '1111111111',
 492742: '1111111111',
 492745: '1111111111',
 492746: '1111111111',
 492749: '1111111111',
 492753: '1111111111',
 492757: '1111111111',
 492758: '1111111111',
 492760: '1111111111',
 492763: '1111111111',
 492769: '1111111111',
 492772: '1111111111',
 492775: '1111111111',
 492779: '1111111111',
 492781: '1111111111',
 492782: '1111111111',
 492785: '1111111111',
 492789: '1111111111',
 492792: '1111111111',
 492798: '1111111111',
 492801: '1111111111',
 492804: '1111111111',
 492805: '1111111111',
 492807: '1111111111',
 492810: '1111111111',
 492814: '1111111111',
 492817: '1111111111',
 492819: '1111111111',
 492482: '1111111111',
 492483: '1111111111',
 492484: '1111111111',
 492485: '1111111111',
 492486: '1111111111',
 492487: '1111111111',
 492488: '1111111111',
 492489: '1111111111',
 492490: '1111111111',
 492822: '1111111111',
 492844: '1111111111',
 492845: '1111111111',
 492847: '1111111111',
 492849: '1111111111',
 492851: '1111111111',
 492853: '1111111111',
 492858: '1111111111',
 492989: '1111111111',
 492990: '1111111111',
 492991: '1111111111',
 492992: '1111111111',
 492993: '1111111111',
 492994: '1111111111',
 492995: '1111111111',
 492996: '1111111111',
 492997: '1111111111',
 492998: '1111111111',
 492999: '1111111111',
 493000: '1111111111',
 493001: '1111111111',
 493002: '1111111111',
 493003: '1111111111',
 493004: '1111111111',
 493005: '1111111111',
 493006: '1111111111',
 493007: '1111111111',
 493008: '1111111111',
 493009: '1111111111',
 493010: '1111111111',
 493011: '1111111111',
 493012: '1111111111',
 493013: '1111111111',
 493014: '1111111111',
 493015: '1111111111',
 493016: '442',
 493017: '442',
 493018: '442',
 493019: '442',
 493020: '442',
 493021: '442',
 493022: '442',
 492519: '1111111111',
 493023: '442',
 493024: '442',
 493025: '442',
 493026: '442',
 493027: '442',
 493028: '442',
 493029: '442',
 493030: '442',
 493031: '442',
 492520: '1111111111',
 493032: '442',
 493033: '442',
 493034: '442',
 493035: '442',
 493036: '442',
 493037: '442',
 493038: '442',
 493039: '442',
 493040: '442',
 492521: '1111111111',
 493041: '442',
 493042: '442',
 493043: '442',
 493044: '442',
 493045: '442',
 493046: '442',
 493047: '442',
 493048: '442',
 493049: '442',
 492522: '1111111111',
 493050: '442',
 493051: '442',
 493052: '442',
 493053: '442',
 493054: '442',
 493055: '442',
 493056: '442',
 493057: '442',
 493058: '442',
 492523: '1111111111',
 493059: '442',
 493060: '442',
 493061: '442',
 493062: '442',
 493063: '442',
 493064: '442',
 493065: '442',
 493066: '442',
 493067: '442',
 492524: '1111111111',
 493068: '442',
 493069: '1111111111',
 492491: '1111111111',
 492492: '1111111111',
 492493: '1111111111',
 492494: '1111111111',
 492495: '1111111111',
 492496: '1111111111',
 492497: '1111111111',
 492498: '1111111111',
 492499: '1111111111',
 493070: '442',
 493071: '442',
 493072: '442',
 493073: '442',
 492525: '1111111111',
 493074: '442',
 493075: '442',
 493076: '442',
 493077: '442',
 493078: '442',
 493079: '442',
 493080: '442',
 493081: '442',
 493082: '442',
 492526: '1111111111',
 493083: '442',
 493084: '442',
 493085: '442',
 493086: '442',
 493087: '442',
 493088: '442',
 493089: '442',
 493090: '442',
 493091: '442',
 492527: '1111111111',
 493092: '442',
 493093: '442',
 493094: '442',
 493095: '442',
 493096: '442',
 493097: '442',
 493098: '442',
 493099: '442',
 493100: '442',
 492528: '1111111111',
 493101: '442',
 493102: '442',
 493103: '442',
 493104: '442',
 493105: '442',
 493106: '442',
 493107: '442',
 493108: '442',
 493109: '442',
 492529: '1111111111',
 493110: '442',
 493111: '442',
 493112: '442',
 493113: '442',
 493114: '442',
 492500: '1111111111',
 492501: '1111111111',
 492502: '1111111111',
 492503: '1111111111',
 492504: '1111111111',
 492506: '1111111111',
 492508: '1111111111',
 492509: '1111111111',
 492511: '1111111111',
 492517: '1111111111',
 492518: '1111111111',
 492530: '1111111111',
 492531: '1111111111',
 492532: '1111111111',
 492534: '1111111111',
 492535: '1111111111',
 492536: '1111111111',
 492537: '1111111111',
 492538: '1111111111',
 492539: '1111111111',
 492540: '1111111111',
 492541: '1111111111',
 492542: '1111111111',
 492543: '1111111111',
 492544: '1111111111',
 492545: '1111111111',
 492546: '1111111111',
 492547: '1111111111',
 492548: '1111111111',
 492549: '1111111111',
 492550: '1111111111',
 492551: '1111111111',
 492552: '1111111111',
 492553: '1111111111',
 492554: '1111111111',
 492555: '1111111111',
 492556: '1111111111',
 492557: '1111111111',
 492558: '1111111111',
 492559: '1111111111',
 492561: '1111111111',
 492562: '1111111111',
 492563: '1111111111',
 665318: '442',
 665320: '442',
 665321: '442',
 665322: '442',
 665323: '442',
 665324: '442',
 665325: '442',
 665411: '442',
 665412: '442',
 665413: '442',
 665414: '442',
 665417: '442',
 665420: '442',
 665421: '442',
 665425: '442',
 665426: '442',
 665427: '442',
 665429: '442',
 665430: '442',
 665432: '442',
 665435: '442',
 665438: '442',
 665440: '442',
 665442: '442',
 665443: '442',
 665444: '442',
 665445: '442',
 665446: '442',
 665535: '442',
 665536: '442',
 665537: '442',
 665539: '442',
 665541: '442',
 665543: '442',
 665545: '442',
 665548: '442',
 665551: '442',
 665553: '442',
 665554: '442',
 665556: '442',
 665559: '442',
 665561: '442',
 665568: '442',
 665570: '442',
 665571: '442',
 665574: '442',
 665575: '442',
 665577: '442',
 665581: '442',
 665585: '442',
 665586: '442',
 665588: '442',
 665590: '442',
 665591: '442',
 665595: '442',
 665596: '442',
 665598: '442',
 665599: '442',
 665601: '442',
 665603: '442',
 665604: '442',
 665606: '442',
 665607: '442',
 665614: '442',
 665616: '442',
 665617: '442',
 665619: '442',
 665620: '442',
 665622: '442',
 665623: '442',
 665626: '442',
 665628: '442',
 665630: '442',
 665632: '442',
 665633: '442',
 665634: '442',
 665635: '442',
 665326: '442',
 665327: '442',
 665328: '442',
 665329: '442',
 665330: '442',
 665332: '442',
 665333: '442',
 665639: '442',
 665641: '442',
 665642: '442',
 665643: '442',
 665645: '442',
 665647: '442',
 665651: '442',
 665653: '442',
 665654: '442',
 665655: '442',
 665657: '442',
 665659: '442',
 665661: '442',
 665662: '442',
 665665: '442',
 665666: '442',
 665667: '442',
 665668: '442',
 665669: '442',
 665671: '442',
 665672: '442',
 665674: '442',
 665675: '442',
 665677: '442',
 665679: '442',
 665680: '442',
 665681: '442',
 665682: '442',
 665686: '442',
 665687: '442',
 665688: '442',
 665689: '442',
 665692: '442',
 665694: '442',
 665695: '442',
 665698: '442',
 665699: '442',
 665700: '442',
 665702: '442',
 665704: '442',
 665706: '442',
 665710: '442',
 665712: '442',
 665717: '442',
 665719: '442',
 665721: '442',
 665723: '442',
 665725: '442',
 665727: '442',
 665728: '442',
 665729: '442',
 665730: '442',
 665731: '442',
 665732: '442',
 665733: '442',
 665735: '442',
 665737: '442',
 665738: '442',
 665739: '442',
 665740: '442',
 665741: '442',
 665742: '442',
 665743: '442',
 665744: '442',
 665745: '442',
 665746: '442',
 665749: '442',
 665751: '442',
 665753: '442',
 665757: '442',
 665334: '442',
 665335: '442',
 665336: '442',
 665337: '442',
 665338: '442',
 665340: '442',
 665341: '442',
 665761: '442',
 665763: '442',
 665767: '442',
 665769: '442',
 665771: '442',
 665774: '442',
 665775: '442',
 665342: '442',
 665343: '442',
 665344: '442',
 665345: '442',
 665346: '442',
 665348: '442',
 665349: '442',
 665352: '442',
 665353: '442',
 665354: '442',
 665357: '442',
 665358: '442',
 665359: '442',
 665360: '442',
 665361: '442',
 665362: '442',
 665363: '442',
 665364: '442',
 665365: '442',
 665366: '442',
 665368: '442',
 665370: '442',
 665371: '442',
 665374: '442',
 665376: '442',
 665378: '442',
 665379: '442',
 665380: '442',
 665384: '442',
 665385: '442',
 665386: '442',
 665387: '442',
 665389: '442',
 665392: '442',
 665393: '442',
 665396: '442',
 665397: '442',
 665399: '442',
 665402: '442',
 665403: '442',
 665405: '442',
 665409: '442',
 838467: '451',
 838468: '343',
 838469: '433',
 838472: '532',
 838473: '352',
 838474: '442',
 838475: '451',
 838476: '343',
 838581: '442',
 838582: '442',
 838583: '442',
 838584: '442',
 838585: '442',
 838586: '442',
 838587: '433',
 838588: '442',
 838590: '532',
 838591: '343',
 838593: '352',
 838594: '433',
 838595: '541',
 838596: '532',
 838597: '532',
 838598: '442',
 838599: '352',
 838600: '433',
 838602: '352',
 838603: '442',
 838604: '442',
 838605: '433',
 838606: '442',
 838607: '442',
 838621: '532',
 838622: '433',
 838623: '343',
 838624: '442',
 838625: '532',
 838628: '451',
 838630: '352',
 838632: '532',
 838635: '343',
 838636: '433',
 838639: '352',
 838640: '352',
 838641: '433',
 838642: '532',
 838644: '433',
 838646: '442',
 838651: '442',
 838652: '442',
 838654: '442',
 838656: '442',
 838657: '442',
 838658: '433',
 838659: '442',
 838661: '433',
 838664: '541',
 838665: '433',
 838667: '352',
 838669: '433',
 838671: '442',
 838673: '343',
 838675: '532',
 838676: '433',
 838677: '3331',
 838679: '433',
 838680: '343',
 838681: '352',
 838684: '442',
 838686: '3331',
 838688: '343',
 838689: '442',
 838692: '352',
 838694: '352',
 838695: '352',
 838696: '532',
 838698: '433',
 838699: '442',
 838701: '343',
 838702: '343',
 838707: '442',
 838709: '442',
 838710: '532',
 838712: '433',
 838713: '532',
 838714: '433',
 838716: '433',
 838718: '451',
 838478: '442',
 838479: '433',
 838481: '352',
 838482: '442',
 838484: '532',
 838486: '343',
 838487: '433',
 838489: '442',
 838720: '451',
 838721: '442',
 838723: '442',
 838725: '442',
 838727: '343',
 838728: '532',
 838730: '433',
 838732: '352',
 838733: '442',
 838734: '442',
 838735: '343',
 838736: '352',
 838738: '451',
 838739: '352',
 838741: '442',
 838742: '4141',
 838746: '541',
 838748: '442',
 838750: '442',
 838752: '352',
 838753: '433',
 838754: '442',
 838755: '442',
 838757: '3232',
 838759: '451',
 838761: '442',
 838764: '343',
 838765: '442',
 838767: '442',
 838768: '352',
 838770: '433',
 838772: '442',
 838773: '541',
 838774: '532',
 838775: '352',
 838777: '532',
 838778: '343',
 838780: '532',
 838781: '442',
 838783: '343',
 838789: '433',
 838790: '532',
 838791: '433',
 838792: '433',
 838794: '451',
 838796: '352',
 838798: '532',
 838800: '442',
 838802: '442',
 838804: '442',
 838806: '541',
 838808: '442',
 838809: '442',
 838810: '442',
 838812: '433',
 838814: '442',
 838815: '442',
 838817: '433',
 838819: '442',
 838820: '442',
 838822: '442',
 838823: '442',
 838825: '442',
 838827: '352',
 838829: '352',
 838830: '532',
 838832: '352',
 838833: '343',
 838835: '541',
 838838: '433',
 838839: '343',
 838841: '352',
 838853: '442',
 838854: '442',
 838855: '442',
 838857: '442',
 838859: '442',
 838861: '442',
 838862: '442',
 838864: '442',
 838491: '352',
 838493: '442',
 838494: '433',
 838495: '343',
 838496: '343',
 838498: '442',
 838499: '541',
 838500: '442',
 838867: '343',
 838869: '532',
 838871: '442',
 838872: '451',
 838873: '433',
 838874: '343',
 838875: '343',
 838876: '352',
 838503: '442',
 838504: '352',
 838506: '352',
 838508: '433',
 838510: '442',
 838511: '433',
 838513: '352',
 838515: '451',
 838517: '352',
 838518: '442',
 838519: '442',
 838520: '442',
 838521: '442',
 838523: '433',
 838524: '442',
 838526: '451',
 838528: '451',
 838529: '442',
 838531: '433',
 838532: '352',
 838534: '442',
 838536: '343',
 838537: '343',
 838539: '433',
 838540: '352',
 838542: '352',
 838543: '352',
 838544: '532',
 838546: '433',
 838547: '442',
 838550: '532',
 838552: '451',
 838555: '451',
 838556: '442',
 838558: '442',
 838560: '433',
 838561: '442',
 838562: '343',
 838563: '442',
 838564: '352',
 838567: '352',
 838568: '532',
 838570: '352',
 838571: '352',
 838573: '442',
 838575: '451',
 838576: '532',
 838578: '541',
 1032692: '433',
 1032693: '541',
 1032694: '442',
 1032695: '532',
 1032696: '352',
 1032697: '352',
 1032698: '451',
 1032699: '442',
 1032764: '451',
 1032765: '343',
 1032766: '451',
 1032767: '532',
 1032768: '343',
 1032769: '442',
 1032770: '442',
 1032771: '532',
 1032772: '541',
 1032773: '442',
 1032774: '352',
 1032775: '442',
 1032776: '433',
 1032777: '451',
 1032778: '532',
 1032779: '532',
 1032780: '352',
 1032781: '352',
 1032782: '451',
 1032783: '532',
 1032784: '343',
 1032785: '343',
 1032786: '433',
 1032787: '532',
 1032788: '442',
 1032789: '343',
 1032790: '451',
 1032791: '433',
 1032792: '532',
 1032793: '352',
 1032794: '442',
 1032795: '433',
 1032796: '451',
 1032797: '352',
 1032798: '442',
 1032799: '343',
 1032800: '451',
 1032801: '433',
 1032802: '451',
 1032803: '442',
 1032804: '442',
 1032805: '442',
 1032806: '442',
 1032807: '442',
 1032808: '532',
 1032809: '442',
 1032810: '532',
 1032811: '433',
 1032812: '442',
 1032813: '442',
 1032814: '532',
 1032815: '442',
 1032816: '442',
 1032817: '433',
 1032818: '532',
 1032819: '433',
 1032820: '451',
 1032821: '352',
 1032822: '532',
 1032823: '352',
 1032824: '343',
 1032825: '352',
 1032826: '442',
 1032827: '442',
 1032828: '352',
 1032829: '442',
 1032830: '451',
 1032831: '442',
 1032832: '433',
 1032833: '442',
 1032834: '442',
 1032835: '433',
 1032836: '352',
 1032837: '343',
 1032838: '451',
 1032839: '532',
 1032840: '352',
 1032841: '343',
 1032842: '352',
 1032843: '532',
 1032700: '343',
 1032701: '442',
 1032702: '433',
 1032703: '451',
 1032704: '532',
 1032705: '352',
 1032706: '442',
 1032707: '433',
 1032844: '442',
 1032845: '352',
 1032846: '541',
 1032847: '433',
 1032848: '343',
 1032849: '451',
 1032850: '541',
 1032851: '433',
 1032852: '451',
 1032853: '442',
 1032854: '532',
 1032855: '532',
 1032856: '442',
 1032857: '343',
 1032858: '532',
 1032859: '442',
 1032860: '451',
 1032861: '343',
 1032862: '343',
 1032863: '541',
 1032864: '343',
 1032865: '352',
 1032866: '532',
 1032867: '433',
 1032868: '352',
 1032869: '442',
 1032870: '532',
 1032871: '442',
 1032872: '433',
 1032873: '532',
 1032874: '451',
 1032875: '343',
 1032876: '442',
 1032877: '343',
 1032878: '541',
 1032879: '433',
 1032881: '451',
 1032882: '352',
 1032883: '442',
 1032884: '532',
 1032885: '442',
 1032886: '352',
 1032887: '433',
 1032888: '352',
 1032889: '433',
 1032890: '442',
 1032891: '352',
 1032892: '343',
 1032893: '442',
 1032894: '343',
 1032895: '442',
 1032896: '433',
 1032897: '442',
 1032898: '442',
 1032899: '442',
 1032900: '442',
 1032901: '433',
 1032902: '352',
 1032903: '532',
 1032904: '433',
 1032905: '451',
 1032906: '352',
 1032907: '343',
 1032908: '442',
 1032909: '451',
 1032910: '343',
 1032911: '442',
 1032912: '433',
 1032913: '352',
 1032914: '442',
 1032915: '352',
 1032916: '442',
 1032917: '433',
 1032918: '451',
 1032919: '532',
 1032920: '442',
 1032921: '433',
 1032922: '451',
 1032923: '352',
 1032924: '343',
 1032708: '352',
 1032709: '352',
 1032710: '442',
 1032711: '433',
 1032712: '352',
 1032713: '343',
 1032714: '451',
 1032715: '442',
 1032925: '442',
 1032926: '352',
 1032927: '343',
 1032928: '532',
 1032929: '442',
 1032930: '442',
 1032931: '352',
 1032932: '442',
 1032716: '532',
 1032717: '541',
 1032718: '532',
 1032719: '343',
 1032720: '442',
 1032721: '532',
 1032722: '532',
 1032723: '352',
 1032724: '433',
 1032725: '343',
 1032726: '442',
 1032727: '343',
 1032728: '352',
 1032729: '343',
 1032730: '532',
 1032731: '352',
 1032732: '352',
 1032733: '442',
 1032734: '451',
 1032735: '532',
 1032736: '442',
 1032737: '352',
 1032738: '442',
 1032739: '442',
 1032740: '352',
 1032741: '451',
 1032742: '442',
 1032743: '442',
 1032744: '442',
 1032745: '442',
 1032746: '532',
 1032747: '532',
 1032748: '442',
 1032749: '352',
 1032750: '532',
 1032751: '442',
 1032752: '442',
 1032753: '442',
 1032754: '451',
 1032755: '442',
 1032756: '541',
 1032757: '352',
 1032758: '442',
 1032759: '442',
 1032760: '442',
 1032761: '442',
 1032762: '442',
 1032763: '442',
 1223976: '4141',
 1223977: '433',
 1223980: '442',
 1223981: '442',
 ...}

In [ ]:
match_df_h2['home_formation'] = match_df_h2['match_api_id'].map(home_formation)
match_df_h2['away_formation'] = match_df_h2['match_api_id'].map(away_formation)
#map formation to DataFrame following match_api_id

In [47]:
match_df_h2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25979 entries, 0 to 25978
Data columns (total 26 columns):
match_api_id       25979 non-null int64
home_team_goal     25979 non-null int64
away_team_goal     25979 non-null int64
home_player_y1     24158 non-null float64
home_player_y2     24158 non-null float64
home_player_y3     24147 non-null float64
home_player_y4     24147 non-null float64
home_player_y5     24147 non-null float64
home_player_y6     24147 non-null float64
home_player_y7     24147 non-null float64
home_player_y8     24147 non-null float64
home_player_y9     24147 non-null float64
home_player_y10    24147 non-null float64
home_player_y11    24147 non-null float64
away_player_y1     24147 non-null float64
away_player_y2     24147 non-null float64
away_player_y3     24147 non-null float64
away_player_y4     24147 non-null float64
away_player_y5     24147 non-null float64
away_player_y6     24147 non-null float64
away_player_y7     24147 non-null float64
away_player_y8     24147 non-null float64
away_player_y9     24146 non-null float64
away_player_y10    24146 non-null float64
away_player_y11    24140 non-null float64
home_team_win      25979 non-null int64
dtypes: float64(22), int64(4)
memory usage: 5.4 MB

# The number of matches differs from the 
# I need to drop the na rows, since some games don't have formation data

In [ ]:
match_df_h2 = match_df_h2.dropna()

In [ ]:
match_df_h2.info()

In [ ]:
print(match_df_h2.home_formation.unique())
print(match_df_h2.away_formation.unique())

In [ ]:
set(match_df_h2.home_formation.unique())-set(match_df_h2.away_formation.unique())
#compare home team and away team formation , the number of home formation is no more than away formation

In [ ]:
set(match_df_h2.away_formation.unique())-set(match_df_h2.home_formation.unique())
#but away formation has one special item formation '31312', lets check it

In [ ]:
match_df_h2[match_df_h2['away_formation']=='31312']
#that is only one match with equalize 0:0, so I drop it.

In [ ]:
index31312 = match_df_h2[match_df_h2['away_formation']=='31312'].index.get_values()
match_df_h2.drop(index31312,inplace=True)

In [45]:
result = pd.merge(match_df_h2,
                  team_df[['team_long_name','team_api_id']],
                  left_on='home_team_api_id',
                  right_on='team_api_id',
                  how='left')

KeyError: 'home_team_api_id'

In [ ]:
# delete Y coordinate, because we'dont need them anymore.
match_df_h2.drop(columns=['home_player_y1','home_player_y2','home_player_y3','home_player_y4','home_player_y5','home_player_y6','home_player_y7','home_player_y8','home_player_y9','home_player_y10','home_player_y11'],inplace = True)
match_df_h2.drop(columns=['away_player_y1','away_player_y2','away_player_y3','away_player_y4','away_player_y5','away_player_y6','away_player_y7','away_player_y8','away_player_y9','away_player_y10','away_player_y11'],inplace = True)

In [ ]:
match_df_h2['away_formation'].value_counts()

In [ ]:
match_df_h2['home_formation'].value_counts()

In [ ]:
#create new column home_team_win with binary values - Home team winning = 1, Tie=0.5, Away team winning = 0
match_df_h2['winning_formation'] = np.nan

In [ ]:
match_df_h2['winning_formation'] #success

In [ ]:
match_df_h2['winning_formation'].loc[match_df_h2['home_team_goal'] > match_df_h2['away_team_goal']] = match_df_h2['home_formation']
match_df_h2['winning_formation'].loc[match_df_h2['home_team_goal'] < match_df_h2['away_team_goal']] = match_df_h2['away_formation']

In [ ]:
match_df_h2.head(10)

# Want to know how many times home 442 wins / home 442 was played

In [ ]:
match_df_h2['442_win'] = np.zeros
match_df_h2['442_win'].loc[match_df_h2['winning_formation'] == '442'] = 1
match_df_h2['442_win'].loc[match_df_h2['winning_formation'] != '442'] = 0

match_df_h2['442_featured'] = np.zeros
match_df_h2['442_featured'].loc[(match_df_h2['home_formation'] == '442' )|(match_df_h2['away_formation'] == '442')] = 1
match_df_h2['442_featured'].loc[(match_df_h2['home_formation'] != '442' ) & (match_df_h2['away_formation'] != '442')] = 0

In [ ]:
match_df_h2.head()

In [ ]:
match_df_h2['433_win'] = np.zeros
match_df_h2['433_win'].loc[match_df_h2['winning_formation'] == '433'] = 1
match_df_h2['433_win'].loc[match_df_h2['winning_formation'] != '433'] = 0

match_df_h2['433_featured'] = np.zeros
match_df_h2['433_featured'].loc[(match_df_h2['home_formation'] == '433' )|(match_df_h2['away_formation'] == '433')] = 1
match_df_h2['433_featured'].loc[(match_df_h2['home_formation'] != '433' ) & (match_df_h2['away_formation'] != '433')] = 0

In [ ]:
match_df_h2.head()

In [ ]:
match_df_h2['442_featured'].sum()

In [ ]:
match_df_h2['442_win'].sum() / match_df_h2['442_featured'].sum()

In [ ]:
match_df_h2['433_win'].sum() / match_df_h2['433_featured'].sum()

In [ ]:
plt.plot(home_wins + np.random.normal(0,0.01,len(home_wins)),away_wins + np.random.normal(0,0.01,len(away_wins)),'o', alpha = 0.4)
plt.plot([0,1],[0,1])
plt.xlabel('Home PCT')
plt.ylabel('Away PCT')
plt.title('Home vs Away PCT in the NBA')

In [108]:
def fib(n):
    if n<=1:
        return 1
    return fib(n-1) +fib(n-2)

In [109]:
%timeit fib(1)

118 ns ± 3.48 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [111]:
%timeit fib(10)

27.3 µs ± 1.44 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [112]:
%timeit fib(20)

3.32 ms ± 296 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [113]:
%timeit fib(30)

399 ms ± 16.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [114]:
times =  []
for i in range(30):
    time = %timeit fib(i)
    times.append(time)
times

152 ns ± 8.73 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
154 ns ± 11.6 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
492 ns ± 63 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
770 ns ± 21.4 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
1.32 µs ± 23.9 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
2.19 µs ± 66.7 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
3.58 µs ± 57.4 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
5.93 µs ± 101 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
9.64 µs ± 146 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
15.7 µs ± 128 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
25.7 µs ± 617 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)
41 µs ± 481 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)
69.2 µs ± 5.5 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)
109 µs ± 1.74 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)
177 µs ± 4.26 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)
286 µs ± 6.41 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
460 µs ± 7.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
757 µs ± 6.87 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
1.25 ms ± 29.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
2.06 ms ± 116 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
3.23 ms ± 139 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
5.5 ms ± 597 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
8.33 ms ± 126 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
13.4 ms ± 119 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
21.4 ms ± 556 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
35.2 ms ± 714 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
56.7 ms ± 607 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
91.8 ms ± 1.01 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
147 ms ± 1.29 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
242 ms ± 9.73 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]